body {
    background-color: aliceblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


header {
    flex: 0 0 auto;
    background-color: rgb(105, 185, 177);
    display: flex;
    flex-direction: row;
    min-width: 60rem;
}

.logo-wrap {
    flex: 0 0 13rem;
    display: flex;
    align-items: center;
    justify-content: start;
}

.web-logo {
    margin-left: 2em;
}

.web-name {
    writing-mode: vertical-lr;
    letter-spacing: .2em;
    font-size: 1.3em;
    font-weight: bold;
}

.user-nav {
    flex: 0 0 10rem;
    margin-left: auto;

}

.user-nav > div {
    font-size: 1.1rem;
    padding: .2em 0em;
}


.user-nav-list {
    position: absolute;
    right: .3em;
    top: 1em;
    visibility: collapse;
}


footer {
    flex: 0 0 auto;
    background-color: rgb(82, 223, 211);
    min-width: 60rem;
    padding: 1em;
    text-align: center;
}


main {    
    flex: 1 1 auto;
    min-width: 60rem;
    background-color: rgb(64, 136, 199)
}



