body {

    background-image: url(../imgs/social_network_background.png);
    background-repeat: no-repeat;
    background-color: rgba(64, 122, 197, 0.5);
    display: flex;
    flex-direction: column;
}

header {
    height: 10vh;
    min-width: 60em;
    background-color: rgb(16, 63, 184);
    flex: 0 0 auto;
}

main {
    min-height: 83vh;
    flex: 1 1 auto;
    width: 60em;
    margin: 0px auto;
    background-color: rgba(250, 250, 250, 0.6);
    box-shadow: 0 0 15px rgba(100, 150, 255, 0.6);
    backdrop-filter: blur(10px);

}

footer {
    min-height: 7vh;
    min-width: 60em;
    background-color: rgb(41, 129, 211);
    flex: 1 1 auto;
}