body {

    background-image: url(../imgs/social_network_background.png);
    background-repeat: no-repeat;
    background-color: rgba(64, 122, 197, 0.5);
    display: flex;
    flex-direction: column;
}

main {
    min-height: 100vh;
    flex: 1 1 auto;
    width: 60em;
    margin: 0px auto;
    background-color: rgba(250, 250, 250, 0.6);
}

footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 1em;
}