.welcome {
    font-size: 1.5em;
    font-weight: bold;
    color: rgba(21, 65, 208, 0.815);
    padding: .5em 0em .5em 1em;
}

.login-register-box {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.login-register-box > a {
    color: black;
    font-size: 1.7em;
    text-align: center;
    background-color: aliceblue;
    width: 8em;
    padding: .2em 1em;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 1em;
}

.login-register-box > div > p,
.login-register-box > div > a {
    display: inline-block;
}
