.layout-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.layout-wrapper > div {
    flex: 1 1 auto;
    text-align: center;
}


.welcome {
    font-size: 2em;
    padding: 3rem 0rem;
    line-height: 1.3rem;
}

.website-introduction {
    font-size: 1.3rem;
    padding: 1rem 0rem;
    line-height: 1.3rem;
}


.chat-on-webpage,
.download-app {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: aliceblue;
    width: 13rem;
}

