.login-register-box {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.welcome {
    font-size: 1.5em;
    font-weight: bold;
    color: rgba(21, 65, 208, 0.815);
    padding: .5em 0em .5em 1em;
}

button {
    display: block;
    font-size: 1.7em;
    width: 8em;
    padding: .2em 1em;
    margin: 1em;
}
