.layout-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin-form {
    display: flex;
    flex-direction: column;
    row-gap: .6rem;
    margin-top: 3rem;
}

.signin-form > label {
    display: block;
    font-size: 1.2rem;
    margin-top: .3rem;
}

.signin-form > input {
    display: block;
    font-size: 1.2rem;
}

.signin-form button {
    font-size: 1.2rem;
    width: 5rem;
}

.error-msg {
    font-size: .8rem;
    color: red;
}