.layout-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout-wrapper > form {
    flex: 1 0 auto;
}


.signup-form {
    display:  flex;
    flex-direction: column;
    row-gap: .6rem;
}

.signup-form label {
    display: block;
    font-size: 1.2rem;
    padding: .2rem 0rem;
}

.signup-form input {
    display: block;
    font-size: 1.2rem;
    padding: .2rem 0rem;
    line-height: 1.3rem;
}

.note {
    font-size: .8rem;
    color: rgb(22, 20, 20);
    width: 25rem;
}

.error {
    font-size: .8rem;
    color: red;
    width: 25rem;
}

.signup-form > button {
    width: 8em;
    font-size: 1.3rem;
    padding: .5rem;
    margin-top: .5rem;
}