.welcome {
    font-size: 1.5em;
    font-weight: bold;
    color: rgba(21, 65, 208, 0.815);
    padding: .5em 0em .5em 1em;
}


.login-form {
    margin: 3em 0em 3em 3em;
    font-size: 1.3em;
    margin: 5em auto;
    width: 10em;
}

label,
input,
button {
    display: block;
}

.login-form > button {
    padding: .2em 1em .2em 1em;
    font-size: 1.1em;
    justify-self: center;
    margin-top: 1em;
    grid-column: 1 / 3;
}

.login-form > input {
    margin-bottom: .6em;
}