.layout-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.note {
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: .3rem 0rem;
    margin-top: 1rem;
}


.verify-contact label {
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-top: 1.3rem;
}


.verify-contact input {
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-top: 1.2rem;
}


.resend-form {
    font-size: 1.2rem;
}

.error-msg {
    font-size: .8rem;
    color: red;
}

.verify-form-submit {
    display: block;
    font-size: 1.2rem;
    padding: .3rem 2rem;
    margin-top: 1rem;
}

