{% extends "base.html" %}

{% block block_head -%}
        <link rel="stylesheet" href="static/css/index.css">
{%- endblock %}

{% block block_main -%}

    <div class="layout-wrapper">
        <div class="welcome">欢迎使用<span>豌豆园</span></div>
        <div class="website-introduction">你可以使用此软件精确查找人及聊天。</div>

        {% if not userid %}
        <div class="chat-on-webpage"><a href="/signin">使用网页应用</a></div>
        {% else %}
        <div class="chat-on-webpage"><a href="/login">使用网页应用</a></div>
        {% endif %}
        <div class="download-app"><a href="">下载<span>豌豆园</span>App</a></div>
    </div>


{%- endblock %}
