{% extends "base.html" %}

{% block block_head -%}
        <link rel="stylesheet" href="static/css/index.css">
{%- endblock %}

{% block block_main -%}

            <p class="welcome">Welcome</p>
            <div class="login-register-box">
                <a href="login.html"><button type="button" name="login-button">Login</button></a>
                <a href="register.html"><button type="button" name="register-button">Register</button></a>
            </div>
            <footer>Copyrigt &copy;2026 Hailing Fang</footer>

{%- endblock %}
