{% extends "base.html" %}

{% block block_head -%}
        <link rel="stylesheet" href="static/css/login.css">
{%- endblock %}

{% block block_main -%}

        <p class="welcome">Login</p>
        <form action="/login"  method="post" class="login-form">
            <label for="user">UserID:</label>
            <input type="text" name="userid" id="userid" size="25" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" size="25" required>

            <button type="submit">Login</button>
        </form>
        <footer>Copyrigt &copy;2026 Hailing Fang</footer>


{%- endblock %}
