{% extends "base.html" %}

{% block block_head -%}
        <link rel="stylesheet" href="static/css/register.css">
{%- endblock %}

{% block block_main -%}

            <p>Register</p>

            {% if not register_success %}
            <form action="/register" method="post" name="register" class="register-data" enctype="multipart/form-data">
                <div>
                    <label for="userid">UserID:</label>
                    <input type="text" name="userid" id="userid" size="30" min="1" max="16" required>
                </div>
                <div>
                    <label for="nickname">Nickname:</label>
                    <input type="text" name="nickname" id="nickname" size="30" min="1" max="16" required>
                </div>                
                <div>
                    <label for="phone-email">Phone Number or Email:</label>
                    <input type="text" name="phone-email" id="phone-email" placeholder="username@exampel.com" size="30" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" size="30" min="9" max="32" required>
                </div>
                <div>
                    <label for="password-confirm">Confirm Password</label>
                    <input type="password" name="password-confirm" id="password-confirm" size="30" min="9" max="32" required>
                </div>

                <input type="hidden" name="form-name" value="regist-form">
                <button type="submit" name="button" value="register">Register</button>
            </form>

            <p>{{ note }}</p>
            
            {% elif register_success %}
            <p>Register Successfully</p>
            <p>Please <a href="/login">Login</a></p>

            {% endif %}

{%- endblock %}
