{% extends "base.html" %}

{% block block_head -%}
        <link rel="stylesheet" href="static/css/verify.css">
{%- endblock %}

{% block block_main -%}

            <div class="layout-wrapper">
                <p class="note">一个验证码已经发向您的{{ contact_type }}({{ contact_address }}), 
                    请在下方输入此验证码，完成验证。</p>
                <form action="/verify" method="post" name="verify" class="verify-contact">
                    <label for="verify_code">验证码:</label>
                    <input type="text" name="verify_code" id="verify-code" size="30" min="6" max="6" required>

                    <input type="hidden" name="form_name" value="verify_form">
                    <button type="submit" name="button" value="resend" class="resend-form">重新发送验证码</button>
                    {% if error %}
                    <p class="error-msg">{{ error }}</p>
                    {% endif %}
                    <button type="submit" name="button" value="verify" class="verify-form-submit">提交</button>
                </form>
            </div>


{%- endblock %}
